@{
    ViewData["Title"] = "Home Page";
}
@using LinkShortenerWeb.Models
@model LinkShortenerWeb.Models.ShortenerModel


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @using (Html.BeginForm("CreateShortening", "Home", FormMethod.Post))
    {
    <div >
        @Html.LabelFor(m => m.Link)
        @Html.TextBoxFor(m => m.Link)
        @Html.LabelFor(m => m.Slug)
        @Html.TextBoxFor(m => m.Slug)
        <input type="submit" value="Submit" />
    </div>
    }

<div>
    @if (Model != null & ViewBag.Response == null && Model.Slug != null)
    {
        <p><a href="https://basictestapp-01.herokuapp.com/@Html.DisplayFor(m => m.Slug)">https://basictestapp-01.herokuapp.com/@Html.DisplayFor(m => m.Slug)</a></p>
    }
</div>

<div>
    @if(ViewBag.Response != null && ViewBag.Response is ObjectResult)
    {
       <p>@ViewBag.Response.Value</p>
    }
</div>
</div>

 